@import url('https://fonts.googleapis.com/css?family=Aldrich');
.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #072037;
  height: 15%;
  width: 100%;
  color: #22add9;
  font-size: 6vh;
  text-align: center;
  padding-top: 1%;
  line-height: 4.5vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.first p::first-letter{
  font-size: 10vh;
  color: white;
}

.first p{
  margin: 0;
}
body{
  font-family: 'Aldrich';
  background-color: #EBEFF1;
}
.holder{
  height: 100vh;
  width: 100%;
}

.row{
  display:flex;
  height: 75%;
  justify-content: space-around;
  background-color: #EBEFF1; width: 100%;
  margin-top: 5%
}


.left{
  border-radius: 2%;
  width: 50%;
  height: 95%;
  background-color: white;
}

.right{
  border-radius: 2%;
  width: 30%;
  height: 60%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center{
  text-align: center;
}
.form{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
  padding: 0% 5%;
  height: 100%;
}

.block {
  display:flex;
  flex-direction: column;
  height: 100%;
}


.button{
background: #072037;
border: 1px solid #072037;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
height: 3rem;
margin-top: 10%;
color:white;
font-family: 'Aldrich'
}
.block label,select{
  display: block;
  width: 100%;
}

.block select,input{
background: #FFFFFF;
border: 1px solid #C7C7CB;
border-radius: 5px;
height: 60%;
font-family: 'Aldrich';
width:100%
}

.block input{
  height: 55%;
}
.price{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.block label{
  font-weight: bold;
  padding-bottom: 2%;
}

.top{
  padding-top: 5%;
}